@import '../style/variables.scss';

.image-list {
  @include pagePadding;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  grid-gap: 0 10px;
  grid-auto-rows: 28px;
  margin: 10px;
  text-align: center;
  
}

.image-list img {
  width: 300px;
}