@import '../style/variables.scss';

.Header {
  background-color: $blue-crayola;
  color: $platinum;
  width: 100vw;
  height: 5%;
}

.Header-title {
  text-align: right
}

.Header-links {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

