@import '../style/variables.scss';

.Home {
  @include pagePadding;
}

.home-carousel {
  display: flex;
  max-height: 200px;
  width: 100%;
  overflow: auto;
}

.home-image {
  max-height: -webkit-fill-available;
}

.home-start-section {
  height: 100px;
  text-align: -webkit-center;
}

.info-section {
  padding: 20px 20px;
}
