.Home {
  text-align: center;
}

.home-carousel {
  display: flex;
  max-height: 200px;
  width: 100%;
  overflow: auto;
}

.home-image {
  max-height: -webkit-fill-available;
}

.home-start-section {
  height: 100px;
  text-align: -webkit-center;
}

.home-start {
  height: 50px;
  width: 200px;
  border: 1px solid white;
  background-color: white;
  border-radius: 45px;
}

.info-section {
  padding: 20px 20px;
}
