/* SCSS FONT */
$default-font-size: 1rem;


/* SCSS HEX COLORS */
$rich-black: #080708ff;
$blue-crayola: #3772ffff;
$rose-madder: #df2935ff;
$sunglow: #fdca40ff;
$platinum: #e6e8e6ff;
$dark-grey: #4b4949;


// MIXINS

@mixin pagePadding {
  text-align: center;
  padding-top: 40px;
}