@import "../style/buttons.scss";

.Board {
  @include pagePadding;
  text-transform: uppercase;
}

.board-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

