@import "../style/buttons.scss";

.Board {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

.board-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

